.gifs img{height:6em}
/*
     FILE ARCHIVED ON 20:31:44 Jan 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:59:46 Apr 29, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.444
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.012
  esindex: 0.01
  cdx.remote: 4.938
  LoadShardBlock: 168.638 (3)
  PetaboxLoader3.datanode: 220.291 (5)
  load_resource: 230.138 (2)
  PetaboxLoader3.resolve: 123.779 (2)
*/