.gifs img{height:6em}
/*
     FILE ARCHIVED ON 20:30:53 Jan 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:07:56 Apr 29, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.473
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.013
  esindex: 0.01
  cdx.remote: 10.69
  LoadShardBlock: 242.262 (3)
  PetaboxLoader3.datanode: 189.2 (5)
  PetaboxLoader3.resolve: 42.54
  load_resource: 57.68 (2)
*/