body{background:url(/web/20190321191349im_/https://tuckersoft.net/ealing20541/img/bg-bandersnatch.gif)}
/*
     FILE ARCHIVED ON 19:13:49 Mar 21, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:53:01 Apr 29, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.461
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 23.125
  LoadShardBlock: 112.709 (3)
  PetaboxLoader3.datanode: 116.172 (4)
  load_resource: 92.498
  PetaboxLoader3.resolve: 57.934
*/