.gifs img{height:8em}
/*
     FILE ARCHIVED ON 20:28:05 Jan 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:07:25 Apr 29, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.535
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 95.644
  LoadShardBlock: 63.327 (3)
  PetaboxLoader3.datanode: 168.15 (5)
  load_resource: 212.707 (2)
  PetaboxLoader3.resolve: 97.056 (2)
*/