.gifs td{text-align:right}
/*
     FILE ARCHIVED ON 20:30:35 Jan 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:58:41 Apr 29, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.541
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 8.283
  LoadShardBlock: 140.334 (3)
  PetaboxLoader3.datanode: 207.466 (5)
  load_resource: 243.85 (2)
  PetaboxLoader3.resolve: 152.273 (2)
*/